%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'

  %br/
%h2
  Comments below
#comments
  - @movie.comments.each do |comment|
    = comment.user.email
    %br/
    = comment.content
    %br/
    = time_ago_in_words(comment.created_at)
    %br/
    - if comment.user.id == current_user.id
      %p
        = link_to 'Delete', [comment.movie, comment], method: :delete, data: { confirm: "Are you sure?"}
    %br/
%h3 Add a comment:
= simple_form_for([@movie, @movie.comments.build]) do |form|
  = form.input  :content
  = form.button :submit, html: {class: 'btn btn-sm btn-default'}
